name: Run Matrix

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ['8', '10', '12', '14', '15']
        os: ['windows-latest', 'ubuntu-latest', 'macos-latest']
    name: Node ${{ matrix.node }} @${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: node docs/question.js
